/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require bootstrap
*= require bootstrap_grid
*= require bootstrap_reboot
*= require_self
*/

body {
    padding-top: 80px;
}
footer {
    flex-shrink: 0;
}
.scaffold-show {
    width: 65%;
}
.scaffold-edit {
    width: 75%;
}
.scaffold-create {
    width: 100%;
}
.nav {
    width: 75%;
}
.scaffold-list {
    width: 100%;
}

.navbar-brand {
    background-color: white;
}

.content h1 {
    margin: 0;
    padding: 0;
}
.chosen-container-single {
    min-width: 200px !important;
}
.chosen-container-multi {
    width: 500px !important;
}
.chosen-container {
    max-width: 500px !important;
}

 input[type='text']{
     min-width: 200px !important;
}

 div.container-fluid {
     padding-left: 100px;
     padding-right: 100px;
 }

@media (max-width: 978px) {
    div.container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
    .content h1 {
        margin: 0;
        padding: 25px;
    }
    a.home {
        margin: 5px;
        padding: 5px;
    }
}

.bg-light {
    background-color: #ccc!important;
}

#bezeichnung{
    width: 970px;
}

body.printbody {
    height: 100%!important;
}

.listrow .card {
    height: 85%;
}

.listrow {
    width: 100%!important;
}

.listrow .col-lg-4{
    margin: 0;
}

footer {
    clear:both;
    position:relative;
    bottom:0;
    width: 100%;
}

