/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require mobile
*= require bootstrap
*= require bootstrap_grid
*= require bootstrap_reboot
*= require_self
*/

body {
    padding-top: 80px;
}
footer {
    flex-shrink: 0;
}
.scaffold-show {
    width: 65%;
}
.scaffold-edit {
    width: 75%;
}
.scaffold-create {
    width: 100%;
}
.nav {
    width: 75%;
}
.scaffold-list {
    width: 100%;
}

.navbar-brand {
    background-color: white;
}

.content h1 {
    margin: 0;
    padding: 0;
}