<!doctype html>
<html>
<head>
    <meta name="layout" content="main"/>

</head>

<body>
<g:set var="springSecurityService" bean="springSecurityService"/>


<g:set var="vorgangList"
           value="${kit.Vorgang.findAllByOeffentlichAndErsetztVonIsNull(true, [sort: 'lastUpdated', order: 'desc', max: 20])}"/>


<!-- Post Content Column -->
<div class="col-lg-9">
    <h1 class="mt-4">KIT - Kommunale Intelligenz und Transparenz</h1>
    <p class="lead">
        für
        <a href="#">${System.getProperty('MANDANT', 'Grüne OV Perl')}</a>
    </p>

    <g:if test="${!(springSecurityService.currentUser instanceof kit.Benutzer)}">
        <div class="btn btn-success"> <a style="color:white" href="/vorgang/neu" class="nav-link">Neues Anliegen übermitteln</a></div>
    </g:if>

    <hr>

    <!-- Date/Time -->
    <p>Zuletzt aktualisiert: ${(vorgangList?.find()?.lastUpdated?:new Date()).format('dd.MM.yyyy')}</p>

    <hr>
    <p>Letzte Vorgänge: (<a href="/vorgang/liste">Alle anzeigen</a> )</p>

    <table>
        <thead>
        <th>Id</th>
        <th>Aktualisiert am</th>
        <th>Bezeichnung</th>
        <th>Zuständigkeit</th>
        <th>Status</th>
        <th>Anzeigen</th>
        </thead>
        <tbody>
        <g:each in="${vorgangList}">
            <tr>
                <td><a href="/vorgang/show/${it.id}">${it.id}</a></td>
                <td>${it.lastUpdated.format('dd.MM.yyyy')}</td>
                <td>${it.bezeichnung}</td>
                <td>${it.werIstZustaendig}</td>
                <td><span class="badge badge-${it.getBadgeClass()}">
                    ${it.status}
                </span></td>
                <td><a class="btn btn-success" href="/vorgang/show/${it.id}">Anzeigen</a></td>
            </tr>
        </g:each>
        </tbody>
    </table>
    <hr>
</div>

<!-- Sidebar Widgets Column -->
<div class="col-md-3">

    <!-- Side Widget -->
    <div class="card my-4">
        <h5 class="card-header">Informationen</h5>

        <div class="card-body">
            Willkommen im Bürgerinformations-Portal!<br>
            Sie haben Fragen? <a href="/faq">Hier</a> finden Sie einige Antworten.
            Sie können sich auch gerne per Email an uns wenden.
            Adresse: <a href="mailto:${kit.Vorgang.getLocalProperty('CONTACT_EMAIL')}">${kit.Vorgang.getLocalProperty('CONTACT_EMAIL')}</a>
        </div>
    </div>
    <!-- Search Widget -->
    <div class="card my-4">
        <h5 class="card-header">Suche</h5>

        <div class="card-body">
            <div class="input-group">
                <g:form controller="vorgang" action="suche" class="form-inline">
                    <input name="q" type="text" class="form-control" placeholder="Suche nach...">
                    &nbsp;<button class="btn btn-secondary" type="submit">Los!</button>
                </g:form>
            </div>
        </div>
    </div>

    <!-- Categories Widget -->
    <div class="card my-4">
        <h5 class="card-header">Zuständigkeit</h5>

        <div class="card-body">
            <div class="row">
                <div class="col-lg-10">
                    <ul class="list-unstyled mb-0">

                        <g:each in="${["Alle", "Gemeinderat", "Ortsrat", "Sonstiges"]}">
                            <li>
                                <a href="/vorgang/zustaendigkeit/${it}">${it}</a>
                            </li>
                        </g:each>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="card my-4">
        <h5 class="card-header">Kategorien</h5>

        <div class="card-body">
            <div class="row">
                <div class="col-lg-10">
                    <ul class="list-unstyled mb-0">

                        <g:each in="${kit.VorgangsKategorie.all}">
                            <li>
                                <a href="/vorgangsKategorie/vorgaenge/${it.name}">${it.name}</a>
                            </li>
                        </g:each>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="card my-4">
        <h5 class="card-header">Ortschaften</h5>

        <div class="card-body">
            <div class="row">
                <div class="col-lg-10">
                    <ul class="list-unstyled mb-0">

                        <g:each in="${kit.Gemeindeteil.all}">
                            <li>
                                <a href="/gemeindeteil/vorgaenge/${it.name}">${it.name}</a>
                            </li>
                        </g:each>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="card my-4">
        <h5 class="card-header">Status</h5>

        <div class="card-body">
            <div class="row">
                <div class="col-lg-10">
                    <ul class="list-unstyled mb-0">

                        <g:each in="${['Alle'] + kit.Vorgang.STATUS}">
                            <li>
                                <a href="/vorgang/status/${it}">${it}</a>
                            </li>
                        </g:each>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>

</body>
</html>
